<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
      <div>
        <h2 class="text-info">Volunteers</h2>
        <div>Volunteers are members of campus ministries and and churches that are volunteering to share the Gospel by giving surveys at The Great Exchange events.</div>
      </div>
      <div style="margin-top: 15px;">
        {{#link-to "volunteers.new" class="btn btn-default btn-lg" }}Register a volunteer{{/link-to}}
      </div>
    </div>
  </div>
</div>
