<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="padding-vertical-21"></div>
  <div class="logo-lg align-text-center padding-vertical-34 hidden-xs">
    <img  src="/event/assets/images/logo.png" />
  </div>
  <div class="logo-md padding-vertical-21 align-text-center hidden-sm hidden-md hidden-lg">
    <img alt="The Great Exchange" src="/event/assets/images/logo-sm.png" />
  </div>
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
      <h2 class="text-muted">What event is happening today?</h2>
      <div class="form-group form-group-lg">
        {{#x-select value=session.event class="form-control" as |xs|}}
          <option value>Select an event</option>
          {{#each events as |event|}}
            {{#xs.option value=event}}{{event.name}}{{/xs.option}}
          {{/each}}
        {{/x-select}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
      <div>
        <h2 class="text-muted">Register Volunteers</h2>
        <div>Volunteers are members of campus ministries and and churches that are volunteering to share the Gospel by giving surveys at The Great Exchange events.</div>
      </div>
      <div style="margin-top: 15px;">
        {{#link-to "volunteers.new" class="btn btn-primary btn-lg" }}Continue{{/link-to}}
      </div>
    </div>
  </div>
</div>
