{{#if hasErrors}}
  {{#each errors as |error|}}
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign clickable" aria-hidden="true"></span>
      <span>{{error.attribute}}</span> {{error.message}}
    </div>
  {{/each}}
{{/if}}
