// Color Scheme
// @brand-primary:   #777777;
// @brand-info:      #a94442;
// @state-info-text: #a94442;

.navbar-brand img {
  position: relative;
  top:      -7px;
  width:    35px;
}

.form-actions {
  text-align:    center;
  margin-bottom: 30px;
}
