@import "bootstrap";
@import "theme";

body {
  margin-top: 70px;
}

#sidebar-menu {
  .nav-pills a.active {
    background-color: @gray-lighter;
  }
}

.col-scrollable {
  overflow: scroll;
  max-height: 100vh;
}

.form-actions {
  text-align: center;
}
