<div class="row">
  <div class="logo-lg align-text-center padding-vertical-34">
    <img  src="assets/images/logo.svg" />
  </div>
  <div class="col-md-4"></div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">

      <div class="panel-heading align-text-center">
        <h2 class="text-muted">Sign in to your account</h2>
      </div>

      <div class="panel-body margin-horizontal-8">
        <form {{action 'authenticate' on='submit'}}>
          <div class="form-group input-group input-group-lg padding-vertical-8 margin-vertical-8">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            {{input id="identification" placeholder="Email address" type="text" value=identification class="form-control"}}
          </div>
          <div class="form-group input-group input-group-lg padding-vertical-8 margin-vertical-8">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            {{input id="password" placeholder="Password" type="password" value=password class="form-control"}}
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
          </div>
        </form>
      </div>

      <div class="panel-footer align-text-center">
        <div class="margin-vertical-8">
          <a href="#" class="text-info">Forgot your password?</a>
        </div>
      </div>

    </div>
  </div>
</div>
