<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-xs-12 col-sm-4">
    <div class="page-header">
      <span class="h2 text-info">Sign in</span>
    </div>
    <form {{action 'authenticate' on='submit'}}>
      <div class="form-group form-group-lg">
        <label for="identification">Email</label>
        {{input id="identification" placeholder="" type="text" value=identification class="form-control"}}
      </div>

      <div class="form-group form-group-lg">
        <label for="password">Password</label>
        {{input id="password" placeholder="" type="password" value=password class="form-control"}}
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
    </form>
  </div>
</div>
