<div class="row">

  <div class="col-sm-2"></div>
  <div id="item-outlet" class="col-xs-12 col-sm-8">
    <div class="page-header">
      <span class="h1 text-info">Volunteer registration{{#if session.event}}<br><small>{{session.event.school.name}} - {{session.event.startsAt}}</small>{{/if}}</span>
    </div>
    {{outlet}}
  </div>

</div>
