<span class="{{glyphicon}} clickable" aria-hidden="true"></span> {{flashMessage.message}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action "dismiss"}}><span aria-hidden="true">&times;</span></button>
